h1{
    background-color: #fb8500;
    width: 200px;
    padding-left: 100px;
    padding-top: 50px;
}
span{
    margin-left: 30px;
}

#one{
    border: 5px solid #023047;
    width: 500px;
    background-color: #8ecae6;
    margin: 30px;
}

#two{
    border: 3px dashed #219ebc;
    width: 500px;
    background-color: #fb8500;
    margin: 100px;
}

#three{
    border: 4px dotted #8ecae6;
    width: 500px;
    background-color: #023047;
}

button{
    font-weight: bold;
    /* padding: 10px 20px 30px 40px; */
    padding: 0 20px;
}